Battery.out.xml
summary_100.xml
TotalResults.json
TotalRoutes.json
BatteryOut.json
DataBaseTest.xlsx
AfternoonRoutesJSON/TotalRoutes.json
MorningRoutesJSON/TotalRoutes.json
FullData.xml
Notes.txt
*.pbix
TotalEdges.json
TotalLanes.json
XMLScripts/*.xml
EnergyUnknownBattery.out.xml
BatteryOneDay.out.xml
Battery5Days.out.xml
*.csv
OUTCOMES/
B_C_Assesment/*.png
B_C_Assesment/Semifast/*.png
*.pdf