Battery.out.xml
summary_100.xml
TotalResults.json
BatteryOut.json
DataBaseTest.xlsx
AfternoonRoutesJSON/TotalRoutes.json
MorningRoutesJSON/TotalRoutes.json
FullData.xml
Análisis_01.pbix
Notes.txt
*.pbix
TotalEdges.json
TotalLanes.json
GeneralTests.py
XMLScripts/*.xml
EnergyUnknownBattery.out.xml
BatteryOneDay.out.xml
Battery5Days.out.xml